body{
    background-color: rgb(21, 32, 43);
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.column{
    float: left;
    overflow: auto;
}

/* Left column */

#logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.is-info-custom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #00000000;
    border: 0;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.is-info-custom:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #bebdbd50;
    color: #ffffff;
    border-radius: 30px !important;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.is-primary-custom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: rgb(255, 122, 0);
    border: 0;
    border-radius: 30px !important;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.is-primary-custom:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 109, 2);
    color: #ffffff;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.thick-span{
    overflow-wrap: break-word;
    box-sizing: border-box;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.icon {
    margin-right:calc(0.5em - 1px) !important;
}

nav{
    max-height: 100vmin;
}

#navbuttons,#profile{
    margin-left: 36px;
}

#profile:hover{
    background-color: #bebdbd50;
    color: #ffffff;
    border-radius: 30px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

#profile{ 
    display: flex;
    flex-direction: row;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

#profile>*{
    margin-left: 1rem;
}

#profile-info>p{
    color: #ffffff;
}

#profile-options>*{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* center column */

.main{
    border:1px solid rgb(56, 68, 77);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:left;
    flex-grow: 1 1 auto;
    padding-left: 0px;
    padding-right: 0px;
}

.tweet-writter{
    display: flex;
    flex-direction: column;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(56, 68, 77);
    width: 100%;
    height: fit-content !important;
}

.second-section{
    display:flex;
    flex-direction: row;
    margin-top: 12px;
    margin-bottom: 12px;
}

#tweettext{
    width: 100%;
    min-height: 45px;
    height:fit-content;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    resize: none;
    font-size: large;
    margin-left: 12px;
    color: #ffffff;
}

#tweettext:focus{
    outline: none;
    border-bottom: 1px solid rgb(56, 68, 77);
}

.third-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.writterbuttons{
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
}

.icon.orange > svg{
    color: rgb(224, 109, 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tweets{
    width: 100%;
    overflow-wrap: break-word;
}

.tweet{
    overflow-x: clip;
    box-sizing: border-box;
    width: inherit;
    border-bottom: 1px solid rgb(56, 68, 77);
    height: fit-content;
}

.tweetdiv{
    height: inherit;
    width: 566px;
}

.content{
    width: 506px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    overflow-wrap: break-word;
}